<h1>Create A New NotReditt</h1>

<%= form_for @post do |f| %>
  <%= f.text_field :title, placeholder: "Name Of NotRedditt" %>
  <%= f.text_area :body, placeholder: "Description" %>

  <%= f.submit %>
  <% end %>